.last-movements
{
    
    margin: 50px;
    h4{
        font-weight: bold;
    }
    h2{
        font-weight: bold;
    }
    hr{
        
    height: 3px;
      background-color: red;
      width: 50px;
      border-radius: 1px;
        
    }   
    .table
    {
        border-collapse:collapse;
        border-color: transparent;
    }
    .negative
    {
        color: red !important;
    }
   
}