.login{
    padding: 8% 0 0;
    width: 365px;
    margin: auto;
    margin-top: 8rem;
    h2{
        font-size: large;
        font-weight: bold;
        text-align: center;
    }
    p{
        color: grey;
        position: inherit;
        font-size: small;
        text-align: center;
    }
    .form_input{     font-size: medium;
        /* margin: auto; */
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid black;
        text-align: justify;
     
        margin-left: 2rem;
        width: 17rem;
        padding: 1rem 1rem 1rem 1.5rem;

    
    }
    .icon
    {
        margin-left: 30px;
        position: absolute;
        margin-top: 1rem;
        z-index: 3;
        color: grey
    }
    button
    {
        color: black;
       background-color: #F2F2F2;
       border-color: #F2F2F2;
       margin-left: 2rem;
       width: 17rem;
       transition: none;
    }
    button:hover
    {
        
       background-color: #da3434;
       border-color: #da3434;
   
    }
    .error
    {
        color: red;
        margin-right: 9rem;
    }
}